@charaset "UTF-8";

h1 {
    color: #00ff00;
}

body {
    background-color: #ccffcc;
    position: relative;
    height: 700px;
}

.button {
    margin-bottom: 30px;
    background-color: #00a82d;
    height: 50px;
    width: 100%;
    border-radius: 7px;
    border-style: none;
    color: #ffffff;
    font-size: 16px;
}

.button:hover {
    background-color: #009900;
    cursor: pointer;
}

.form-content {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 35%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-main {
    width: 80%;
}

.form {
    margin-top: 40px;
}

.form input {
    width: 98%;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 7px;
    border: 1px solid #e6e6e6;
}

.form input:focus {
	outline: 0;
}

.form-main a {
    text-decoration: none;
    color: #008f26;
}

.question {
    color: #737373;
}